.statistics {
  margin: auto;
  width: fit-content;
  margin-bottom: 100px;
}
.title {
  padding: 20px 0;
  background-color: #fff;
  font-size: 35px;
  text-align: center;
  font-family: 'La Belle Aurore', cursive;
}
.statList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item {
  width: 75px;
  height: 75px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2px;
  text-align: center;
  color: #fff;
}
.label {
  font-size: 15px;
}
.percentage {
  font-size: 25px;
}
